.git
.github
.idea
.vscode
**/bin
**/obj
**/build
**/.dart_tool
**/.venv
**/__pycache__
src/admin/node_modules
src/admin/dist
src/mobile
**/.env*
!**/.env*.example
**/*.jks
**/*.keystore
**/key.properties
